:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray_1: hsl(0, 0%, 42%);
    --Gray_2: hsl(0, 0%, 7%);

}
* {
  font-size: 16px;  
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la viewport */
    background-color: var(--Yellow);
  
}
section{
    font-family: "Figtree";
    display: block;
    padding: 1.4rem;
    height: 30rem;
    width: 20rem;
    box-shadow: 0.5rem 1rem 0rem;
    border-radius: 15px;
    border: 3px solid var(--Gray_2);
    background-color: var(--White);
    margin: 40px;
}
section button{
    background-color: var(--Yellow);
    border: none;
    border-radius: 3px;
    font-family: "Figtree";
    padding:4px;
    font-weight: 800;
    transition: 0.3s;
}
section button:hover{
    background-color: var(--Gray_2);
    color: var(--Yellow);
    transition: 0.3s;
}
article :nth-child(1){
  font-weight: 500;
   }
article :nth-child(2){
 font-size: 25px;
 text-decoration: none;
 color: var(--Gray_2);
 font-weight: 800;
}

article :nth-child(2):active{
color: var(--Yellow);
   }
figure{
    margin: 0px;
}
figure img{
    width: 100%;
    border-radius: 14px;
    margin-bottom: 1rem;
}
div{
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}
div img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
    box-shadow: 0.2rem 0.2rem 0rem;
    border: 2px solid black;
}

a{
    text-decoration: none;
    color: var(--Gray_2);
}
footer{
    font-weight: 800;
}